nifi/flows/Cripto_Price_ETL.json
{"flowContents":{"identifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","instanceIdentifier":"610cd7a5-0193-1000-0723-98e8ed4b0013","name":"Cripto Price ETL","comments":"","position":{"x":-512.0,"y":-184.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"809ca6e3-d42d-31af-ad0a-b93d15e9caf9","instanceIdentifier":"0193100d-097b-15ca-38cc-fb2bbc1e27a7","name":"PutDatabaseRecord","comments":"","position":{"x":800.0,"y":-560.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"191edb41-7a33-3b19-b2f6-59865c9fb06e","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"ethereum_prices","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"95cceae3-f0ab-32ff-8b65-5ba44ed83349","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"b7a8ab8d-3078-38bc-b50d-6dc71bf57505","instanceIdentifier":"01931000-097b-15ca-e491-bfa65a7c7d46","name":"InvokeHTTP","comments":"","position":{"x":-584.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://economia.awesomeapi.com.br/json/last/ETH-USD,USD-BRL","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"dba358af-ca9f-31b7-bb3a-80a15ec196aa","instanceIdentifier":"01931003-097b-15ca-125a-60b7c252c3e7","name":"JoltTransformJSON","comments":"","position":{"x":80.0,"y":-560.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"ETHUSD\": {\n        \"bid\": \"amount_usd\",\n        \"codein\": \"base\",\n        \"code\": \"currency\",\n        \"create_date\": \"timestamp\"\n      },\n      \"USDBRL\": {\n        \"bid\": \"amount_brl\"\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"amount_usd\": \"amount_usd\",\n      \"amount_brl\": \"amount_brl\",\n      \"base\": \"base\",\n      \"currency\": \"currency\",\n      \"timestamp\": \"timestamp\"\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"457c95fe-c8e9-3c40-a9bd-6c700e430a52","instanceIdentifier":"0193100f-097b-15ca-a279-d0aaad14b977","name":"JoltTransformJSON","comments":"","position":{"x":16.0,"y":-80.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.0.0"},"properties":{"Jolt Transform":"jolt-transform-chain","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"BTCUSD\": {\n        \"bid\": \"amount_usd\",\n        \"codein\": \"base\",\n        \"code\": \"currency\",\n        \"create_date\": \"timestamp\"\n      },\n      \"BTCBRL\": {\n        \"bid\": \"amount_brl\"\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"amount_usd\": \"amount_usd\",\n      \"amount_brl\": \"amount_brl\",\n      \"base\": \"base\",\n      \"currency\": \"currency\",\n      \"timestamp\": \"timestamp\"\n    }\n  }\n]\n"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"cd565edf-1206-3226-a853-8d292d042787","instanceIdentifier":"65ca097b-0193-1000-86c5-40ea4e1a1033","name":"InvokeHTTP","comments":"","position":{"x":-600.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://economia.awesomeapi.com.br/json/last/BTC-USD,BTC-BRL","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"38f7b215-c890-310f-b1ce-242bf351595c","instanceIdentifier":"01931008-097b-15ca-2d7d-7d7f5bf199ee","name":"PutDatabaseRecord","comments":"","position":{"x":776.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"191edb41-7a33-3b19-b2f6-59865c9fb06e","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"bitcoin_prices","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"95cceae3-f0ab-32ff-8b65-5ba44ed83349","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"26335ead-e84b-36a0-b6b3-be9ec2908a0a","instanceIdentifier":"0193100a-097b-15ca-4eb7-f14a07a46f31","name":"","source":{"id":"457c95fe-c8e9-3c40-a9bd-6c700e430a52","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"0193100f-097b-15ca-a279-d0aaad14b977"},"destination":{"id":"38f7b215-c890-310f-b1ce-242bf351595c","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"01931008-097b-15ca-2d7d-7d7f5bf199ee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"942d3338-45c2-3f67-89b8-c316a59c9583","instanceIdentifier":"01931005-097b-15ca-a725-1e1026ec4d3a","name":"","source":{"id":"dba358af-ca9f-31b7-bb3a-80a15ec196aa","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"01931003-097b-15ca-125a-60b7c252c3e7"},"destination":{"id":"be3273f8-444d-3f17-a161-3c924e256ac1","type":"FUNNEL","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"Funnel","comments":"","instanceIdentifier":"0193101f-097b-15ca-584b-be7bd73d1eab"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"5dbe0e86-bc12-39aa-9ae7-f3014dda2eaf","instanceIdentifier":"01931034-097b-15ca-9da2-f7ad2fb5060b","name":"","source":{"id":"38f7b215-c890-310f-b1ce-242bf351595c","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"01931008-097b-15ca-2d7d-7d7f5bf199ee"},"destination":{"id":"fc5fdd18-09b5-3bd9-b2e6-69d49245c4c2","type":"FUNNEL","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"Funnel","comments":"","instanceIdentifier":"01931033-097b-15ca-c954-9fa17aa809e7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"4fe4bd37-0078-303d-90e4-418fe1edb3cb","instanceIdentifier":"01931037-097b-15ca-26e0-bc36add89534","name":"","source":{"id":"38f7b215-c890-310f-b1ce-242bf351595c","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"01931008-097b-15ca-2d7d-7d7f5bf199ee"},"destination":{"id":"5e1c6c11-2d34-3f29-86f3-897dd23f04f0","type":"FUNNEL","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"Funnel","comments":"","instanceIdentifier":"01931036-097b-15ca-b277-6b70e74844d4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"15801270-f1ef-3718-8f08-fa93311dfda9","instanceIdentifier":"01931004-097b-15ca-e66f-9c60b6ff909f","name":"","source":{"id":"b7a8ab8d-3078-38bc-b50d-6dc71bf57505","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"InvokeHTTP","comments":"","instanceIdentifier":"01931000-097b-15ca-e491-bfa65a7c7d46"},"destination":{"id":"dba358af-ca9f-31b7-bb3a-80a15ec196aa","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"01931003-097b-15ca-125a-60b7c252c3e7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"ae4a5343-2119-388c-ad0f-dff5fd9ce483","instanceIdentifier":"01931001-097b-15ca-230b-da38d527b6f3","name":"","source":{"id":"b7a8ab8d-3078-38bc-b50d-6dc71bf57505","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"InvokeHTTP","comments":"","instanceIdentifier":"01931000-097b-15ca-e491-bfa65a7c7d46"},"destination":{"id":"15206185-d4a3-3dd6-8522-5799696fd30c","type":"FUNNEL","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"Funnel","comments":"","instanceIdentifier":"01931005-097b-15ca-fa7c-ae3f08dd9d90"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"17bd4041-d3cd-323b-a041-37d569ee3d19","instanceIdentifier":"01931014-097b-15ca-764a-5d1c3d758f1a","name":"","source":{"id":"cd565edf-1206-3226-a853-8d292d042787","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"InvokeHTTP","comments":"","instanceIdentifier":"65ca097b-0193-1000-86c5-40ea4e1a1033"},"destination":{"id":"457c95fe-c8e9-3c40-a9bd-6c700e430a52","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"0193100f-097b-15ca-a279-d0aaad14b977"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"9ea31b15-3314-3e2b-8bbd-a95d37ed6c76","instanceIdentifier":"01931014-097b-15ca-4d61-6a9b51842b68","name":"","source":{"id":"dba358af-ca9f-31b7-bb3a-80a15ec196aa","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"01931003-097b-15ca-125a-60b7c252c3e7"},"destination":{"id":"809ca6e3-d42d-31af-ad0a-b93d15e9caf9","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"0193100d-097b-15ca-38cc-fb2bbc1e27a7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"e095a62d-3459-3c3e-bacb-1ffcd3f44c1e","instanceIdentifier":"01931013-097b-15ca-78c6-8a94a4ccd84a","name":"","source":{"id":"457c95fe-c8e9-3c40-a9bd-6c700e430a52","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"JoltTransformJSON","comments":"","instanceIdentifier":"0193100f-097b-15ca-a279-d0aaad14b977"},"destination":{"id":"fa088f63-f976-37cb-b013-99892fa7fbce","type":"FUNNEL","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"Funnel","comments":"","instanceIdentifier":"01931012-097b-15ca-42b1-466aafbac257"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"10366a10-300b-3c2c-a0fc-e700ab978174","instanceIdentifier":"65cd8457-0193-1000-0155-3c5358688195","name":"","source":{"id":"cd565edf-1206-3226-a853-8d292d042787","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"InvokeHTTP","comments":"","instanceIdentifier":"65ca097b-0193-1000-86c5-40ea4e1a1033"},"destination":{"id":"84d8906f-5a13-370e-afcc-516415aed801","type":"FUNNEL","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"Funnel","comments":"","instanceIdentifier":"65cd6590-0193-1000-054b-a269335e5ebb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"0979c022-97b5-3026-a747-bdf3fdeab182","instanceIdentifier":"01931013-097b-15ca-b748-3fa1fde796c8","name":"","source":{"id":"809ca6e3-d42d-31af-ad0a-b93d15e9caf9","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"0193100d-097b-15ca-38cc-fb2bbc1e27a7"},"destination":{"id":"ad078f0a-8711-3453-bbcd-5f3c98b9e951","type":"FUNNEL","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"Funnel","comments":"","instanceIdentifier":"01931012-097b-15ca-0609-df5df0bb6b87"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"05c97adf-f352-3199-bb0a-ae4f11fd5f4b","instanceIdentifier":"01931011-097b-15ca-3c75-1d733eb12218","name":"","source":{"id":"809ca6e3-d42d-31af-ad0a-b93d15e9caf9","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"0193100d-097b-15ca-38cc-fb2bbc1e27a7"},"destination":{"id":"6ce65524-331e-36ae-a6a9-19acab4f18e8","type":"FUNNEL","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"Funnel","comments":"","instanceIdentifier":"0193101d-097b-15ca-1e7c-30d6f7d203a0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"550405af-ecf1-3f0c-ab05-f07a0949bad1","instanceIdentifier":"01931032-097b-15ca-05cc-d8e03591f369","name":"","source":{"id":"38f7b215-c890-310f-b1ce-242bf351595c","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"01931008-097b-15ca-2d7d-7d7f5bf199ee"},"destination":{"id":"a4d5e9f9-d2d8-3a4d-9d54-69afe86a7593","type":"FUNNEL","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"Funnel","comments":"","instanceIdentifier":"01931031-097b-15ca-b502-cfa820d730a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"279bfb88-255e-391e-a369-0c8d2bf7fa35","instanceIdentifier":"01931010-097b-15ca-0a2b-a84c5e01983b","name":"","source":{"id":"809ca6e3-d42d-31af-ad0a-b93d15e9caf9","type":"PROCESSOR","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"0193100d-097b-15ca-38cc-fb2bbc1e27a7"},"destination":{"id":"6051f2cf-6cd0-371b-81e9-7b0a8fb84f3a","type":"FUNNEL","groupId":"5eefd0c3-5ff1-3e81-8896-224e383c87b1","name":"Funnel","comments":"","instanceIdentifier":"0193100f-097b-15ca-3354-10707e3135db"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"}],"labels":[{"identifier":"4623a4fe-2081-36ae-8fec-43b3e811a47d","instanceIdentifier":"01931018-097b-15ca-c8ef-237d7981e121","position":{"x":152.0,"y":-632.0},"label":"Transform ETH Price","zIndex":0,"width":200.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"57aa4e10-550c-3f05-b969-3b90f87393da","instanceIdentifier":"0193101a-097b-15ca-1fda-4e96d6255523","position":{"x":-744.0,"y":-592.0},"zIndex":0,"width":2368.0,"height":424.0,"style":{"background-color":"#bef3f4"},"componentType":"LABEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"ed0db07c-6d64-3b44-b10e-52084409fe91","instanceIdentifier":"01931002-f92a-1114-6d88-d75df2935766","position":{"x":72.0,"y":-136.0},"label":"Transform BTC Price","zIndex":0,"width":200.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"aa113a82-aaf4-3ac3-a48b-55c7e2b226cc","instanceIdentifier":"6114f92a-0193-1000-578e-cdbfaf777076","position":{"x":-584.0,"y":-640.0},"label":"Extracting ETH Price from API","zIndex":0,"width":344.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"29cfb8e7-77c2-3186-a537-a949be18c90b","instanceIdentifier":"01931016-097b-15ca-9f94-bf7eef6abd32","position":{"x":872.0,"y":-632.0},"label":"Load ETC Price to Postgresql","zIndex":0,"width":200.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"02c4abd4-ce32-3b5c-8763-fb5c9044d6e1","instanceIdentifier":"01931019-097b-15ca-cb98-a5fc81f58d11","position":{"x":-736.0,"y":-112.0},"zIndex":0,"width":2360.0,"height":496.0,"style":{"background-color":"#fbe179"},"componentType":"LABEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"cbc50aee-d781-3e62-ba83-4ae4ae480f57","instanceIdentifier":"01931002-097b-15ca-544a-45e1b792e443","position":{"x":-584.0,"y":-136.0},"label":"Extracting BTC Price from API","zIndex":0,"width":344.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"bb988fa3-a688-3a54-ab51-81726a1424ba","instanceIdentifier":"01931000-f92a-1114-6bf4-7c40eb70ab05","position":{"x":800.0,"y":-144.0},"label":"Load BTC Price to Postgresql","zIndex":0,"width":200.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"}],"funnels":[{"identifier":"be3273f8-444d-3f17-a161-3c924e256ac1","instanceIdentifier":"0193101f-097b-15ca-584b-be7bd73d1eab","position":{"x":224.0,"y":-288.0},"componentType":"FUNNEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"15206185-d4a3-3dd6-8522-5799696fd30c","instanceIdentifier":"01931005-097b-15ca-fa7c-ae3f08dd9d90","position":{"x":-430.7900896949152,"y":-230.59374895933445},"componentType":"FUNNEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"6ce65524-331e-36ae-a6a9-19acab4f18e8","instanceIdentifier":"0193101d-097b-15ca-1e7c-30d6f7d203a0","position":{"x":1128.0,"y":-264.0},"componentType":"FUNNEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"a4d5e9f9-d2d8-3a4d-9d54-69afe86a7593","instanceIdentifier":"01931031-097b-15ca-b502-cfa820d730a8","position":{"x":1568.0,"y":-48.0},"componentType":"FUNNEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"84d8906f-5a13-370e-afcc-516415aed801","instanceIdentifier":"65cd6590-0193-1000-054b-a269335e5ebb","position":{"x":-448.0,"y":184.0},"componentType":"FUNNEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"6051f2cf-6cd0-371b-81e9-7b0a8fb84f3a","instanceIdentifier":"0193100f-097b-15ca-3354-10707e3135db","position":{"x":728.0,"y":-264.0},"componentType":"FUNNEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"ad078f0a-8711-3453-bbcd-5f3c98b9e951","instanceIdentifier":"01931012-097b-15ca-0609-df5df0bb6b87","position":{"x":1560.0,"y":-536.0},"componentType":"FUNNEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"5e1c6c11-2d34-3f29-86f3-897dd23f04f0","instanceIdentifier":"01931036-097b-15ca-b277-6b70e74844d4","position":{"x":656.0,"y":264.0},"componentType":"FUNNEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"fa088f63-f976-37cb-b013-99892fa7fbce","instanceIdentifier":"01931012-097b-15ca-42b1-466aafbac257","position":{"x":-192.0,"y":288.0},"componentType":"FUNNEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"fc5fdd18-09b5-3bd9-b2e6-69d49245c4c2","instanceIdentifier":"01931033-097b-15ca-c954-9fa17aa809e7","position":{"x":1168.0,"y":272.0},"componentType":"FUNNEL","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"}],"controllerServices":[{"identifier":"4de71d5b-a181-3545-8502-6e35b5cf0747","instanceIdentifier":"01931046-097b-15ca-4985-d03c783af753","name":"ConvertJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"BitcoinPrices\",\n  \"fields\": [\n    {\"name\": \"amount_usd\", \"type\": \"double\"},\n    {\"name\": \"amount_brl\", \"type\": \"double\"},\n    {\"name\": \"base\", \"type\": \"string\"},\n    {\"name\": \"currency\", \"type\": \"string\"},\n    {\"name\": \"timestamp\", \"type\": \"string\"}\n  ]\n}\n","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"95cceae3-f0ab-32ff-8b65-5ba44ed83349","instanceIdentifier":"65ad3694-0193-1000-3968-9a58db0a1c9f","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"191edb41-7a33-3b19-b2f6-59865c9fb06e","instanceIdentifier":"65b054fe-0193-1000-ebb7-1d34fa811c26","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":"SELECT 1;","Database Connection URL":"jdbc:postgresql://postgres:5432/cripto_price","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/jdbc/postgresql-42.7.4.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"},{"identifier":"8ba0e65c-0b4b-3b3a-9e69-b6d5d596a806","instanceIdentifier":"65af2847-0193-1000-8b30-9a0281eb16e4","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5eefd0c3-5ff1-3e81-8896-224e383c87b1"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}